html {
    color: #fff;
    background-color: #fff;
    outline-style: none;
    overflow-x: hidden;
}

body {
    width: 100%;
    font-size: 12px;
}

html {
    height: 100%;
}

body {
    width: 100%;
    min-height: 100%;
    background-image: url("../img/bg.png");
    background-repeat: repeat-y;
    background-position: center center;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
    font-family: "方正少儿简体", "微软雅黑", "Microsoft Yahei", Arial, Helvetica, sans-serif, "宋体"
}

html,
button,
input,
select,
textarea {
    font-family: "方正少儿简体", "微软雅黑", "Microsoft Yahei", Arial, Helvetica, sans-serif, "宋体"
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

ul,
li,
ol {
    list-style: none
}

fieldset,
img {
    border: 0
}

a,
span {
    font-size: inherit;
    text-decoration: none;
    outline: none;
}

a:hover {
    color: #f60;
    text-decoration: none
}

.clear {
    clear: both;
    height: 0px;
    font-size: 1px;
    overflow: hidden;
    line-height: 0px;
}

.db {
    display: block;
    width: 100%;
    height: 100%;
}

.dil {
    display: inline-block;
}

.dn {
    display: none
}

.pa {
    position: absolute
}

.pr {
    position: relative
}

@font-face {
    font-family: "webfont";
    src: url('/fonts/ch/webfont.eot');
    src: url('/fonts/ch/webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/ch/webfont.woff') format('woff'), url('/fonts/ch/webfont.ttf') format('truetype'), url('/fonts/ch/webfont.svg#webfont') format('svg');
}

@font-face {
    font-family: "webfontno";
    src: url('/fonts/ch1/webfont.eot');
    src: url('/fonts/ch1/webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/ch1/webfont.woff') format('woff'), url('/fonts/ch1/webfont.ttf') format('truetype'), url('/fonts/ch1/webfont.svg#webfont') format('svg');
}

@font-face {
    font-family: 'sf_arch_rivalregular';
    src: url('/fonts/en/SF_Arch_Rival-webfont.eot');
    src: url('/fonts/en/SF_Arch_Rival-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/en/SF_Arch_Rival-webfont.woff') format('woff'), url('/fonts/en/SF_Arch_Rival-webfont.ttf') format('truetype'), url('/fonts/en/SF_Arch_Rival-webfont.svg#sf_arch_rivalregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.web-font {
    font-family: "方正少儿简体", "webfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.web-font-en {
    font-family: "方正少儿简体", "sf_arch_rivalregular" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.common-font {
    font-family: "微软雅黑", "Microsoft Yahei", Arial, Helvetica, sans-serif, "宋体" !important;
}

#bgL,
#bgR {
    width: 134px;
    height: 100%;
    position: absolute;
    top: 0px;
    background-repeat: repeat-y;
    background-position: left 0;
    z-index: 102;
}

#bgL {
    left: 0px;
    background-image: url("../img/bgL.png");
}

#bgR {
    right: 0px;
    background-image: url("../img/bgR.png");
    background-position: right 0;
}

#bgLine {
    width: 100%;
    height: 100%;
    z-index: inherit;
    background-image: url("../img/bgLine.png");
    background-repeat: no-repeat;
    background-position: center 0;
    position: absolute;
}

#aquatic {
    width: 100%;
    height: 578px;
    z-index: inherit;
    background-image: url("../img/bottom/aquatic.png");
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    bottom: 0px;
}

.warp {
    min-height: 10px;
    width: 802px;
    margin: 0 auto;
    display: block;
    clear: both;
}
/*公共头部*/

.topImg {
    height: 114px;
    padding-top: 10px;
    position: relative;
    z-index: 103;
}

.topImg img {
    width: 100%;
}

.topImg a.fish {
    width: 116px;
    height: 100px;
    display: inline-block;
    float: left;
    -webkit-animation: arrowBottom .87s ease-in-out;
    -moz-animation: arrowBottom .87s ease-in-out;
    animation: arrowBottom .87s ease-in-out;
}

.topImg .bg {
    width: 664px;
    float: right;
    margin-top: 10px;
}

@-webkit-keyframes arrowBottom {
    0% {
        -webkit-transform: translate3d(0, -60px, 0);
        opacity: 0
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@-moz-keyframes arrowBottom {
    0% {
        -moz-transform: translate3d(0, -60px, 0);
        opacity: 0
    }
    100% {
        -moz-transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes arrowBottom {
    0% {
        transform: translate3d(0, -60px, 0);
        opacity: 0
    }
    ` 100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.line {
    width: 27px;
    height: 474px;
    background-image: url("../img/line.png");
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: -92px;
    left: 200px;
    z-index: 98;
}

.icon {
    display: inline-block;
    background-image: url("../img/icon_spriter.png");
    background-repeat: no-repeat;
    background-position: center center;
}
/*公共底部*/

#footer {
    background-image: url("../img/bottom/bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    height: 105px;
    z-index: 101;
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.footer {
    position: relative;
    width: 980px;
    height: 100%;
    margin: 0px auto;
    overflow: hidden;
    z-index: 105;
}

.footer_dayu {
    position: absolute;
    width: 34px;
    height: 14px;
    bottom: 35px;
    right: 700px;
    z-index: 4;
    -moz-animation: active_liuxing 2s 3s ease both;
    -webkit-animation: active_liuxing 2s 3s ease both;
    -o-animation: active_liuxing 2s 3s ease both;
}

.footer_dayu_content {
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: block;
    width: 34px;
    height: 14px;
    background: url(../img/dayu.png) 0 0 no-repeat;
    -moz-animation: youdong_dayu 5s 0s linear infinite;
    -webkit-animation: youdong_dayu 5s 0s linear infinite;
    -o-animation: youdong_dayu 5s 0s linear infinite;
}

.footer_xiaoyu {
    position: absolute;
    width: 28px;
    height: 13px;
    bottom: 15px;
    right: 800px;
    z-index: 3;
    -moz-animation: active_liuxing 2s 4s ease both;
    -webkit-animation: active_liuxing 2s 4s ease both;
    -o-animation: active_liuxing 2s 4s ease both;
}

.footer_xiaoyu_content {
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: block;
    width: 28px;
    height: 13px;
    background: url(../img/xiaoyu.png) 0 0 no-repeat;
    -moz-animation: youdong_xiaoyu 4s 0s linear infinite;
    -webkit-animation: youdong_xiaoyu 4s 0s linear infinite;
    -o-animation: youdong_xiaoyu 4s 0s linear infinite;
}

@keyframes active_liuxing {
    0% {
        opacity: 0;
        -moz-opacity: 0;
        filter: alpha(opacity=100);
    }
    100% {
        opacity: 1;
        -moz-opacity: 1;
        filter: alpha(opacity=0);
    }
}

@-moz-keyframes active_liuxing {
    0% {
        opacity: 0;
        -moz-opacity: 0;
        filter: alpha(opacity=100);
    }
    100% {
        opacity: 1;
        -moz-opacity: 1;
        filter: alpha(opacity=0);
    }
}

@-webkit-keyframes active_liuxing {
    0% {
        opacity: 0;
        -moz-opacity: 0;
        filter: alpha(opacity=100);
    }
    100% {
        opacity: 1;
        -moz-opacity: 1;
        filter: alpha(opacity=0);
    }
}
/*游动的大鱼*/

@keyframes youdong_dayu {
    0% {
        right: 170px;
        opacity: 0;
    }
    20% {
        right: 120;
        opacity: 1;
    }
    90% {
        right: 70px;
        opacity: 1;
    }
    100% {
        right: 0px;
        opacity: 0;
    }
}

@-moz-keyframes youdong_dayu {
    0% {
        right: 170px;
        opacity: 0;
    }
    20% {
        right: 120;
        opacity: 1;
    }
    90% {
        right: 70px;
        opacity: 1;
    }
    100% {
        right: 0px;
        opacity: 0;
    }
}

@-webkit-keyframes youdong_dayu {
    0% {
        right: 170px;
        opacity: 0;
    }
    20% {
        right: 120;
        opacity: 1;
    }
    90% {
        right: 70px;
        opacity: 1;
    }
    100% {
        right: 0px;
        opacity: 0;
    }
}
/*游动的小鱼*/

@keyframes youdong_xiaoyu {
    0% {
        right: 0px;
        opacity: 0;
    }
    20% {
        right: 20px;
        opacity: 1;
    }
    90% {
        right: 100px;
        opacity: 1;
    }
    100% {
        right: 140px;
        opacity: 0;
    }
}

@-webkit-keyframes youdong_xiaoyu {
    0% {
        right: 0px;
        opacity: 0;
    }
    20% {
        right: 20px;
        opacity: 1;
    }
    90% {
        right: 100px;
        opacity: 1;
    }
    100% {
        right: 140px;
        opacity: 0;
    }
}

@-moz-keyframes youdong_xiaoyu {
    0% {
        right: 0px;
        opacity: 0;
    }
    20% {
        right: 20px;
        opacity: 1;
    }
    90% {
        right: 100px;
        opacity: 1;
    }
    100% {
        right: 140px;
        opacity: 0;
    }
}
/*公共左侧*/

#leftPanle {
    position: absolute;
    top: 59px;
    width: 280px;
    left: 0px;
    height: auto;
    min-height: 100px;
    height: 490px;
}

#leftPanle ul {
    width: 100%;
    height: auto;
    position: absolute;
    right: 32px;
}

#leftPanle ul:before,
#leftPanle ul:after {
    content: "";
    clear: both;
}

.leftPanle-item li {
    height: 82px;
    width: 100%;
    clear: both;
    position: relative;
    z-index: inherit;
}

.leftPanle-item li .menu {
    display: block;
    position: absolute;
    right: 0px;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: inherit;
}

.leftPanle-item li .menu .font {
    min-width: 140px;
    right: 40px;
    position: absolute;
    height: 100%;
    z-index: 103;
}

.leftPanle-item li .menu .font {
    display: inline-block;
    border-bottom: 1px solid #c3c6c9;
}

.leftPanle-item li:hover .font,
.leftPanle-item li.active .menu .font {
    display: none;
    border-bottom: none;
}

.leftPanle-item li:last-child .menu .font {
    border-bottom: none;
}

.leftPanle-item li .menu .font .icon {
    height: 31px;
    width: 38px;
    top: 10px;
    left: 5px;
    position: absolute;
}

.leftPanle-item li .menu .font .iconHome {
    background-position: -5px -3px;
}

.leftPanle-item li .menu .font .iconCat {
    background-position: -4px -34px;
}

.leftPanle-item li .menu .font .iconIn {
    background-position: -5px -65px;
}

.leftPanle-item li .menu .font .iconTeac {
    background-position: -5px -96px;
}

.leftPanle-item li .menu .font .iconUs {
    background-position: -5px -128px;
}

.leftPanle-item li .menu .font .iconNotice {
    background-position: -5px -157px;
}

.me-title {
    font-size: 16px;
    line-height: 22px;
    color: #232f38;
    width: 100%;
    position: absolute;
    top: 41px;
    left: 10px;
}

.me-title-child {
    color: #232f38;
    font-size: 12px;
    position: absolute;
    width: 100%;
    top: 61px;
    left: 12px;
}

.leftPanle-item li .menu .end {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: inherit;
    display: none;
}

.leftPanle-item li:hover .end,
.leftPanle-item li.active .menu .end {
    display: inline-block;
}

.leftPanle-item li .menu .end .bg {
    height: 56px;
    width: 100%;
    display: inline-block;
    background-image: url("../img/selectL.png");
    background-repeat: no-repeat;
    background-position: right center;
    position: absolute;
    right: 33px;
    top: 13px;
    z-index: 99;
}

.leftPanle-item li:hover .menu .end .icon1,
.leftPanle-item li.active .menu .end .icon1 {
    height: 51px;
    width: 60px;
    position: absolute;
    right: -11.2px;
    top: 15px;
    z-index: 105;
    -webkit-animation: arrowRight .47s ease-in-out;
    -moz-animation: arrowRight .47s ease-in-out;
    animation: arrowRight .47s ease-in-out;
}

@-webkit-keyframes arrowRight {
    0% {
        -webkit-transform: translate3d(30px, 0, 0);
        opacity: 0
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@-moz-keyframes arrowRight {
    0% {
        -moz-transform: translate3d(30px, 0, 0);
        opacity: 0
    }
    100% {
        -moz-transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes arrowRight {
    0% {
        transform: translate3d(30px, 0, 0);
        opacity: 0
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.leftPanle-item li .menu .end .iconHome1 {
    background-position: -45px -4px;
}

.leftPanle-item li .menu .end .iconCat1 {
    background-position: -48px -56px;
}

.leftPanle-item li .menu .end .iconIn1 {
    background-position: -43px -103px;
}

.leftPanle-item li .menu .end .iconTeac1 {
    background-position: -43px -153px;
}

.leftPanle-item li .menu .end .iconUs1 {
    background-position: -43px -207px;
}

.leftPanle-item li .menu .end .iconNotice1 {
    background-position: -43px -256px;
}

.leftPanle-item li .menu .end .font {
    width: 112px;
    height: 56px;
    top: 12px;
    right: 40px;
    z-index: 105;
    display: inline-block;
    position: absolute;
    right: 60px\0;
}

.leftPanle-item li:hover .menu .end .me-title,
.leftPanle-item li.active .menu .end .me-title {
    font-size: 16px;
    line-height: 25px;
    width: 100%;
    position: absolute;
    top: 3px;
    width: 100%;
    left: 0px;
    color: #fff;
    z-index: 105;
    text-align: left;
    letter-spacing: 1px;
    text-shadow: rgba(0, 0, 0, 0.4) 4px 4px 7px;
    -webkit-animation: arrowLeft .57s ease-in-out;
    -moz-animation: arrowLeft .57s ease-in-out;
    animation: arrowLeft .57s ease-in-out;
    font-family: "方正少儿简体", "webfontno" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.leftPanle-item li:hover .menu .end .me-title-child,
.leftPanle-item li.active .menu .end .me-title-child {
    font-size: 20px;
    line-height: 19px;
    width: 100%;
    position: absolute;
    top: 24px;
    left: 0px;
    color: #fff;
    z-index: 105;
    letter-spacing: 1px;
    text-shadow: rgba(0, 0, 0, 0.4) 0px 2px 5px;
    font-size: 13px;
    -webkit-animation: arrowLeft .87s ease-in-out;
    -moz-animation: arrowLeft .87s ease-in-out;
    animation: arrowLeft .87s ease-in-out;
}

@-webkit-keyframes arrowLeft {
    0% {
        -webkit-transform: translate3d(-30px, 0, 0);
        opacity: 0
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@-moz-keyframes arrowLeft {
    0% {
        -moz-transform: translate3d(-30px, 0, 0);
        opacity: 0
    }
    100% {
        -moz-transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes arrowLeft {
    0% {
        transform: translate3d(-30px, 0, 0);
        opacity: 0
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.leftPanle-item li:hover .menu .end .me-title-child1,
.leftPanle-item li.active .menu .end .me-title-child1 {
    top: 37px;
}

.main {
    width: 100%;
    height: auto;
    position: relative;
    min-height: 560px;
     padding-bottom: 150px;
}

#rightPanle {
    position: relative;
    width: 590px;
    margin-left: 212px;
    min-height: 100px;
}
/*公共头部*/

#fixTop {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100px;
    background-color: #fff;
    z-index: 200;
    opacity: 0.5;
}
/*固定位置的检测小人*/

.fixed_jiance {
    position: fixed;
    bottom: 100px;
    width: 130px;
    right: 50%;
    margin-right: -530px;
    z-index: 130;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.fixed_jiance_text {
    position: relative;
    border: #57b382 solid 2px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    background-color: #fbfbfb;
}

.fixed_jiance_text span {
    display: inline-block;
    padding: 10px 0px;
    line-height: 18px;
    color: #555;
}

.fixed_jiance_text a {
    display: inline-block;
    width: 85px;
    height: 20px;
    line-height: 20px;
    color: #fff;
    background-color: #57b382;
    border: #45a873 solid 1px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.fixed_jiance_text a:hover {
    background-color: #1e9e69;
}

.fixed_jiance_text i {
    display: inline-block;
    width: 20px;
    height: 27px;
    position: absolute;
    bottom: -27px;
    left: 10px;
    background-position: -632px -17px;
}

.fixed_jiance_img {
    width: 130px;
    height: 110px;
    background: url(../img/index_jiance_level2.gif) 20px 10px no-repeat;
}

.fixed_jiance_img0 {
    background: url(../img/index_jiance_level1.gif) 20px 10px no-repeat;
}

.fixed_jiance_img a {
    float: left;
    display: inline;
    width: 21px;
    height: 21px;
    background-position: -634px -53px;
    margin-top: 10px;
    margin-left: 110px;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
}

.fixed_jiance_img a:hover {
    background-position: -634px -86px;
}