.banner {
    width: 574px;
    margin: 0 auto;
}

.banner img {
    width: 100%;
    border-radius: 8px;
    position: relative;
    z-index: 105;
}
/*week*/

.week {
    width: 574px;
    height: 338px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/recipe/week.png");
    position: relative;
    margin: 0 auto;
    z-index: 105;
    margin-top: 13px;
    padding-top: 42px;
    padding-left: 65px;
}

.week_time {
    width: 100%;
    height: 52px;
}

.week_time2 {
    height: 53px;
}

.week_time3 {
    height: 84px;
}

.week_time li {
    height: 100%;
    float: left;
    width: 98px;
    margin-right: 2px;
}
.week_time li.li_1{
    width: 106px;
}
.week_time li span {
    margin-top: 7px;
    font-size: 11px;
    color: #31bacf;
    font-family: "微软雅黑", "Microsoft Yahei", Arial, Helvetica, sans-serif, "宋体" !important;
    text-align: center;
    width: 110%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    word-break: break-all;
    word-wrap: break-word;
    transform:scale(0.9);  
    margin-left: -5%;
    margin-left: auto\0;
    _margin-left: auto;
    *margin-left: auto;
    width: 96%\0;
    _width: 96%;
    *width: 96%;
}
/*day*/

.day {
    width: 598px;
    margin: 0 auto;
    padding-top: 45px;
    position: relative;
    z-index: 105;
}

.day .day_title {
    color: #31bacf;
    font-size: 26px;
    position: absolute;
    right: 24px;
    top: 16px;
}

.day .day_content {
    width: 100%;
    height: 523px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/recipe/day.png");
    padding-top: 63px;
    padding-left: 14.4px;
}

.day .day_content ul {
    height: 54px;
    width: 100%;
}

.day .day_content ul.day_content_ul1 {
    height: 47px;
}

.day .day_content ul.day_content_ul2 {
    height: 58px;
}

.day .day_content ul.day_content_ul3 {
    height: 52px;
}

.day .day_content ul.day_content_ul4 {
    height: 77px;
}

.day .day_content ul.day_content_ul5 {
    height: 91px;
}

.day .day_content ul.day_content_ul6 {
    height: 34px;
}

.day .day_content ul.day_content_ul7 {
    height: 42px;
}

.day .day_content ul li {
    float: left;
    width: 90px;
    margin-right: 2px;
    height: 100%;
}

.day .day_content ul li.num {
    width: 35px;
    height: 100%;
}

.day .day_content ul li.num span {
    line-height: 100%;
    text-align: center;
    height: 100%;
    display: block;
    font-family: Arial, Helvetica, sans-serif, "宋体";
    font-size: 20px;
    color: #31bacf;
    font-weight: bold;
}

.day .day_content ul li.day_content_li1 {
    width: 112px;
}

.day .day_content ul li.day_content_li2,
.day .day_content ul li.day_content_li3 {
    width: 110px;
}

.day .day_content ul li span {
    margin-top: 12px;
    font-size: 12px;
    color: #31bacf;
    font-family: "微软雅黑", "Microsoft Yahei", Arial, Helvetica, sans-serif, "宋体" !important;
    text-align: center;
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    word-break: break-all;
    word-wrap: break-word;
}

.day .day_content ul li.day_content_li2 span {
    margin-top: 10px;
    font-size: 10px;
    width: 110%;
    transform:scale(0.9);  
    margin-left: -5%;
    margin-left: auto\0;
    _margin-left: auto;
    *margin-left: auto;
    width: 96%\0;
    _width: 96%;
    *width: 96%;
}

.day .day_content ul li.day_content_li3 span {
    margin-top: 8px;
    width: 110%;
    font-size: 10px;
    transform:scale(0.9);  
    margin-left: -5%;
    margin-left: auto\0;
    _margin-left: auto;
    *margin-left: auto;
    width: 96%\0;
    _width: 96%;
    *width: 96%;
}

.day .day_content ul li.day_content_li4 span {
    margin-top: 3px;
    transform:scale(0.9);  
    margin-left: -5%;
    margin-left: auto\0;
    _margin-left: auto;
    *margin-left: auto;
    width: 96%\0;
    _width: 96%;
    *width: 96%;
}